.main_graphic-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_graphic-wrapper{
 max-width: 400px;
 max-height: 400px;
 border-radius: 10px;
}

.random_text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.random_text-timer{
    justify-self: center;
    align-self: center;
    margin-top: 50px;
}

.random_text-wrapper h2{
    font-size: 60px;
}

@media (min-width: 427px) {
    .random_image-wrapper{
        width: 100%;
        max-width: 500px;
        height: 400px;
    }
    
    .random_image-wrapper div{
        width: 450px;
    }
 }

 @media (min-width: 1025px) {
    .random_image-wrapper{
        width: 100%;
        max-width: 700px;
        height: 500px;
    }
    
    .random_image-wrapper div{
        width: 90%;
    }

    .random_text-wrapper h2{
        font-size: 120px;
    }
 }