@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-container {
  margin-top: 70px;

  &__wrapper {
    padding: 1%;
    &--form {
      &--btn {
        position: fixed;
        width: 60px;
        height: 60px;
        border-radius: 50px;
        border: none;
        color: $c-white;
        background-color: black;
        border: 1px solid $c-white;
        cursor: pointer;
        outline: none;
        transition: all ease-in-out 0.5s;

        i {
          font-size: pxToRem(25);
        }

        &:hover {
          animation-name: spin;
          animation-duration: 1s;
          animation-timing-function: linear;
          color: black;
          border: 1px solid black;
          background-color: $c-white;
        }
      }
    }
  }
}

@media (min-width: 427px) {
    .page-container {   
        &__wrapper {
          &--form {
            &--btn {
                position: fixed;
                width: 80px;
                height: 80px;
                border-radius: 50px;
                border: none;
                color: $c-white;
                background-color: black;
                border: 1px solid $c-white;
                cursor: pointer;
                outline: none;

                i {
                    font-size: pxToRem(35);
                  }
           
            }
          }
        }
      }
}
