.graphic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__image {
    max-width: 350px;
    max-height: 350px;
    border-radius: 10px;
  }

  &__timer {
    margin-top: 20px;
  }
}
